Screen {

}

DirectoryTree {
    max-height: 50%;
}

Select {
    align: center middle;
    margin: 2;
}

Bottom_Panel {
    align: center bottom;
    dock: bottom;
    height: auto;
}

#translate_progress {
    width: 50%;
    margin: 1;
    align: center middle
}

#translate {
    width: 50%;
    margin: 1;
}